body {
  background-color: rgb(208, 180, 159);
  text-align: center;
}

img {
  width: 500px; 
  height: 300px;
}

button {
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px;
}

button:hover {
  background-color: white;
  color: black;
}