body {
    background-color: rgb(241, 227, 223);
    text-align: center;
    align-content: center;
  }
* {
  box-sizing: border-box;
}
 
.column {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /*float: left;*/
  width: 30%;
  padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row{
  text-align:center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}