body {
    background-color: rgb(241, 227, 223);
    text-align: center;
    align-content: center;
  }

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
 
