body {
    background-color: rgb(230, 227, 225);
    text-align: center;
    
  }
button {
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  padding: 10px;
}